.model-selector h3 {
    font-size: 24px;
    font-weight: bold;
}

.selector-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.selector-buttons button {
    width: 40%;
}