.content-table {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    border: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 8px;
}

.content-table li {
    padding: 10px 10px;
    font-size: 18px;
    color: black;
    border: 1px solid #ccc;
    border-radius: 4px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;/**/
}

.text-url {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin: 0 10px;
}

.content-table button {
    width: 24px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #0a1550;

    flex-shrink: 0;
    box-sizing: border-box;
}

.content-table button:hover {
    outline: 2px solid #0a1550;
    padding: 1px;
    border: none;
}

.content-table button:active {
    color: white;
    background-color: #0a1550;
    padding: 1px;
    border: none;
}