.parse-config {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}

.parse-config input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #0a1550;
    box-sizing: border-box;
}

.parse-config input:hover,
.parse-config input:active,
.parse-config input:focus {
    outline: 2px solid #0a1550;
    border: none;
    padding: 11px;
}