# Детекция
#numpy               #
#scikit-build        #
setuptools wheel    #
ultralytics         # YOLOv8
# Обработка фото
opencv-python       # Для работы с изображениями
pillow              # Для обработки изображений
# Сервер
fastapi             # Для создания REST API
uvicorn             # Для запуска сервера
